body {
    background-color: rgba(221, 220, 220, 0.472);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
}

h1 {
    font-size: 3em;
    width: 40%;
    margin: .8em auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    width: 60%;
    margin: 3em auto;
}

.image {
    display: block;
    width: 45%;
    margin: auto;
}

.button {
    display: block;
    text-decoration: none;

    color: black;
    background-color:rgba(231, 154, 30, 0.692);
    padding: 1em;
    text-align: center;
    border: .2em solid #5D6063;

    width: 10%;
    margin: 5% auto;
}

.link {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu {
    display: inline;
    text-decoration: none;

    color: black;
    background-color:rgba(231, 154, 30, 0.692);
    padding: .8em;
    text-align: center;
    border: .2em solid #3e8cdb;

    width: 8em;
    margin: 19%;
}

li {
    display: inline;
}