.bg-light {
    background-color: rgb(165, 227, 229) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(6 4 82 / 79%);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(6 4 82 / 79%);
}

.active {
    font-weight: bold;
    color: rgb(6 4 82 / 90%) !important;
}

.home {
    padding-right: 2rem;
}

img {
    width: 100%;
}

.container {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.page-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.page {
    display: flex;
    width: 60%;
    justify-content: center;
}

.heading-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-pic {
    width: 40%;
}

.col-sm {
    padding: 5px;
}

.bread {
    width: 100%;
    height: 100%;
}

.photo-grid {
    width: 75%;
}