.bg-light {
    background-color: rgb(165, 227, 229) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(6 4 82 / 79%);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(6 4 82 / 79%);
}

.active {
    font-weight: bold;
    color: rgb(6 4 82 / 90%) !important;
}

.home {
    padding-right: 2rem;
}

img {
    width: 100%;
}

.container {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.page-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.page {
    width: 60%;
    justify-content: center;
}

.heading-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-pic {
    width: 40%;
}

.col-sm {
    padding: 5px;
}

.bread {
    width: 100%;
    height: 100%;
}

.photo-grid {
    width: 75%;
}

.footer-container {
    background-color: rgb(165, 227, 229);
    width: 100%;
    height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .8em;
}

.link-block {
    color: rgb(6 4 82 / 79%);
}

.my-link {
    font-weight: bold;
    color: rgb(6 4 82 / 79%);
}

p {
    text-align: center;
    width: 100%;
}

.review-paragraph {
    text-align: left;
    width: 100%;
}

.review-title {
    margin-bottom: 2em;
}

.review-page {
    width: 80%;
    display: block;
}

h2 {
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

h3 {
    font-weight: normal;
    font-size: 1.2em;
}

.hype {

}

.review {
    margin-top: 1em;
}

.review-paragraph {
    font-style: italic;
}

.heading {
    text-align: center;
}


@media only screen and (max-width: 500px) {
    .home-footer {
        margin-top: 8em;
    }
}

.about-pic {
    margin-top: 2em;
}