* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(221, 220, 220, 0.472);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
}

.heading-container {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    margin: 3em auto;
}



.button {
    text-decoration: none;
    color: black;
    background-color:rgba(231, 154, 30, 0.692);
    padding: 1em;
    text-align: center;
    border: .2em solid #5D6063;
    width: 20%;
    margin: 5% auto;
}

.link {
    text-decoration: none;
}

.page {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.color1 {
    background-color: lightcoral;
    height: 5em;
}

.color2 {
    background-color: rgb(50, 53, 236);
    height: 5em;
}

.color3 {
    background-color: rgb(37, 207, 37);
    height: 5em;
}

.color4 {
    background-color: rgb(226, 230, 34);
    height: 5em;
}

@media only screen and (min-width: 960px) {
    .page {
        width: 960px;
    }
    
    .color1,
    .color2,
    .color3,
    .color4 {
        width: 50%;
    }
}